{% extends 'base.html' %}

{% block content %}
<section class="section-conten padding-y" style="min-height:84vh">

   
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">重置密碼</h4>
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" class="form-control" placeholder="信箱" name="email" >
             </div>                 
              <div class="form-group">
                 <input type="password" class="form-control" placeholder="新的密碼" name="password" >
              </div> 
              <div class="form-group">
                <input type="password" class="form-control" placeholder="確認密碼" name="password1" >
             </div> 
              <span style="color:red;">{{ msg }}</span>
              <div class="form-group">
                  <a href="{% url 'login'%}" class="float-right">取得密碼?登入</a> 
               
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">提交</button>
              </div> 
          </form>
          </div> 
        </div> 
         <br><br>
    
    
    </section>

{% endblock %}